#pragma once
{% include "_common/header.j2" %}
#include <cstdint>

namespace Garbox::AppConfig {

static constexpr const char* AppName = "{{ application.app_name }}";
static constexpr uint32_t TickPeriodMillis = {{ application.tick_period_millis }};
static constexpr uint32_t TickPeriodMicros = {{ application.tick_period_millis }}*1000;
static constexpr float TickFrequencyHz = 1000.0f / static_cast<float>({{ application.tick_period_millis }});

} // namespace
