{% include "_common/header.j2" %}
#include "BehaviourId.h"

namespace Garbox {

const char* BehaviourIdToString(BehaviourId id){
    switch(id){
        case BehaviourId::Null: return "Null";
{% for name in names %}
        case BehaviourId::{{ name.removesuffix("Behaviour") }}: return "{{ name.removesuffix("Behaviour") }}";
{% endfor %}
        case BehaviourId::Count: return "Count";
    }
    return "Invalid";
}

} // namespace Garbox
