{% include "_common/header.j2" %}
#include "ComponentId.h"

namespace Garbox {

const char* ComponentIdToString(ComponentId id){
    switch(id){
        case ComponentId::Null: return "Null";
        case ComponentId::Runtime: return "Runtime";
{% for name in names %}
        case ComponentId::{{ name }}: return "{{ name }}";
{% endfor %}
        case ComponentId::Count: return "Count";
    }
    return "Invalid";
}

} // namespace Garbox
