#pragma once
{% include "_common/header.j2" %}
#include <cstdint>
#include <cstring>
#include "shared/types/EventType.h"
{% from "_common/includes.j2" import include_h %}
{{ include_h(event_payloads) }}
namespace Garbox {

// generated payloads
{% for event_name, type_data in event_types.items() %}
struct {{ event_name }}Payload {
    {% if type_data["fields"] %}
        {% for field_data in type_data["fields"].values() %}
    {{ field_data["type"] }} {{ field_data["name"] }};
        {% endfor %}
    {% else %}
    // no fields
    {% endif %}
};

{% endfor %}
// generated mappings
template<EventType>
struct ResolveEventPayload; // primary template (intentionally undefined)

{% for event_name in event_types.keys() %}
template<>
struct ResolveEventPayload<EventType::{{ event_name }}> {
    using type = {{ event_name }}Payload;
};

{% endfor %}
// resolve EventType to EventPayload
template<EventType E>
using EventPayload = typename ResolveEventPayload<E>::type;

} // namespace 
