#pragma once
{% include "_common/header.j2" %}
#include <cstdint>

namespace Garbox {

enum class ProfilerId : uint16_t {

    // null event
    Null = 0,

    // system
{% for name in system_ids %}
    {{ name }},
{% endfor %}

    // tick phases
{% for name in ticks_ids %}
    {{ name }},
{% endfor %}

    // custom
{% if custom_ids %}
    {% for name in custom_ids %}
    {{ name }},
    {% endfor %}
{% endif %}

    // enum size marker
    Count,
};

const char* ProfilerIdToString(ProfilerId id);

} // namespace Garbox
