#pragma once

{% include "_common/header.j2" %}
#include "core/hardware/adc/Adc.h"
{% from "_common/includes.j2" import include_h %}
{{ include_h(adc) }}
namespace Garbox {

class AdcInstances {
public:

{% for name, entry in adc.instances.items() %}
    static constexpr int32_t Pin{{name}} = {{entry.pin}}; 
{% endfor %}

    static void Init();

{% for name, entry in adc.instances.items() %}
    static Adc& Get{{ name }}();
{% endfor %}

private:

    AdcInstances() = delete;
    ~AdcInstances() = delete;
    AdcInstances(const AdcInstances&) = delete;
    AdcInstances& operator=(const AdcInstances&) = delete;
};

} // namespace
