#pragma once

#include "core/hardware/gpio/Gpio.h"
{% from "common/includes.j2" import emit_includes %}
{{ emit_includes(include) }}

namespace Garbox {

struct GpioInstances {
public:

{% for name, entry in gpio.items() %}
    static constexpr int32_t Pin{{name}} = {{entry.pin}}; 
{% endfor %}

    static void Init();

{% for name, entry in gpio.items() %}
    static Gpio& Get{{ name }}();
{% endfor %}
};

} // namespace
