{% include "_common/header.j2" %}
#include "HardwareInit.h"
#include "core/assert/Assert.h"
{% for name in init %}
#include "app/generated/hardware/{{ name }}.h"
{% endfor %}

namespace Garbox {
    
static bool sInitialized = false;

void HardwareInit::Init(){
    AssertExit(!sInitialized, "HardwareInit", "already initialized");

{% for name in init %}
    {{ name }}::Init();
{% endfor %}
    
    sInitialized = true;
}


} // namespace
