#pragma once
{% include "_common/header.j2" %}
#include "core/hardware/i2c/I2c.h"
{% from "_common/includes.j2" import include_h %}
{{ include_h(i2c) }}
namespace Garbox {

struct I2cInstances {
public:

{% for name, entry in i2c.instances.items() %}
    static constexpr int32_t PinSda{{ name }} = {{ entry.pinSda }}; 
    static constexpr int32_t PinScl{{ name }} = {{ entry.pinScl }}; 
{% endfor %}

    static void Init();

{% for name, entry in i2c.instances.items() %}
    static I2c& Get{{ name }}();
{% endfor %}

};

} // namespace
