{% include "_common/header.j2" %}
#include "LedcInstances.h"
#include "core/assert/Assert.h"
{%- from "_common/includes.j2" import emit_includes -%}
{{- emit_includes(meta) -}}

namespace Garbox {

using TimerId = LedcTimer::Id;
using ChannelId = LedcChannel::Id;

static bool sInitialized = false;

void LedcInstances::Init(){

    AssertExit(!sInitialized, "LedcInstances", "already initialized");

    // setup timers
{% for timer_name, t in ledc_timer.items() %}
    Get{{ timer_name }}().init(TimerId::Timer{{ t.id }}, {{ t.frequencyHz }}, {{ t.resolutionBits }});
{% endfor %}

    // setup channels
{% for channel_name, c in ledc_channel.items() %}
    Get{{ channel_name }}().init(ChannelId::Channel{{ c.id }}, &Get{{ c.timer }}(), Pin{{ channel_name }}, {{ "true" if c.invert else "false" }});
{% endfor %}

    sInitialized = true;
}

{% for timer_name, t in ledc_timer.items() %}
LedcTimer& LedcInstances::Get{{ timer_name }}(){
    static LedcTimer instance;
    return instance;
}
{% endfor %}

{% for channel_name, c in ledc_channel.items() %}
LedcChannel& LedcInstances::Get{{ channel_name }}(){
    static LedcChannel instance;
    return instance;
}
{% endfor %}

} // namespace
