{% include "_common/header.j2" %}
#include "SpiInstances.h"
#include "core/assert/Assert.h"
{% from "_common/includes.j2" import include_cpp %}
{{ include_cpp(spi) }}
namespace Garbox {

static bool sInitialized = false;

void SpiInstances::Init(){
    
    AssertExit(!sInitialized, "SpiInstances", "already initialized");

{% for name, entry in spi.instances.items() %}
    Get{{ name }}().init({
        .hostDevice = {{ entry.hostDevice }},
        .pinMosi = PinMosi{{ name }},
        .pinMiso = PinMiso{{ name }},
        .pinClk = PinClk{{ name }},
        .pinCs = PinCs{{ name }},
        .mode = {{ entry.mode }},
        .frequencyHz = {{ entry.frequencyHz }},
        .maxTransferSizeBytes = {{ entry.maxTransferSizeBytes }},
        .queueSize = {{ entry.queueSize }},
    });
{% endfor %}

    sInitialized = true;
}

{% for name, entry in spi.instances.items() %}
SpiDma& SpiInstances::Get{{ name }}(){
    static SpiDma instance;
    return instance;
}
{% endfor %}

} // namespace
