#include "{{ name }}.h"

namespace Garbox {

{{ name }}::{{ name }}(const RuntimeContext& context):
    // init members
    BaseBehaviourAbs(ComponentId::{{ name }}, context){
    // nothing to do
}

void {{ name }}::onInit(){
    // nothing to do
}

void {{ name }}::onStart(){
    // nothing to do
}

void {{ name }}::onBecomeActive(){
    // nothing to do
}

void {{ name }}::onBecomeInactive(){
    // nothing to do
}
{% if behaviour.ticks %}
    {% for tick in behaviour.ticks %}

void {{ name }}::on{{ tick }}(){
    // nothing to do
}
    {% endfor %}
{% endif %}
{% if behaviour.receives %}
    {% for ev in behaviour.receives %}

void {{ name }}::on{{ ev }}(const EventRead<EventPayload::{{ ev }}>& event){
    // nothing to do
}
    {% endfor %}
{% endif %}

} // namespace Garbox
