#pragma once

#include "app/behaviours/generated/BaseBehaviourAbs.h"

namespace Garbox {

class {{ name }} : public BaseBehaviourAbs {
public:

    {{ name }}(const RuntimeContext& context);
    {% if behaviour.ticks %}

        {% for tick in behaviour.ticks %}
    void on{{ tick }}() final;
        {% endfor %}
    {% endif %}
    {% if behaviour.receives %}

        {% for ev in behaviour.receives %}
    void on{{ ev }}(const EventRead<EventPayload::{{ ev }}>& event) final;
        {% endfor %}
    {% endif %}

private:

    void onInit() final;
    void onStart() final;
    void onBecomeActive() final;
    void onBecomeInactive() final;

};

} // namespace Garbox
