#pragma once
{% include "_common/header.j2" %}
#include <cstdint>
#include <cstring>
#include "shared/types/EventType.h"

// includes from config
{% from "_common/includes.j2" import emit_includes %}
{{ emit_includes(events_includes) }}

namespace Garbox {

// generated payloads
{% for event_name, type_data in events.items() %}
struct {{ event_name }}Payload {
    {% if type_data["fields"] %}
        {% for field_data in type_data["fields"].values() %}
            {% if field_data["default"] is none %}
    {{ field_data["type"] }} {{ field_data["name"] }};
            {% else %}
    {{ field_data["type"] }} {{ field_data["name"] }} = {{ field_data["default"] }};
            {% endif %}
        {% endfor %}
    {% else %}
    // no fields
    {% endif %}
};

{% endfor %}
// generated mappings
template<EventType>
struct ResolveEventPayload; // primary template (intentionally undefined)

{% for event_name in events.keys() %}
template<>
struct ResolveEventPayload<EventType::{{ event_name }}> {
    using type = {{ event_name }}Payload;
};

{% endfor %}
// resolve EventType to EventPayload
template<EventType E>
using EventPayload = typename ResolveEventPayload<E>::type;

} // namespace 
