{% include "_common/header.j2" %}
#include "ProfilerId.h"

namespace Garbox {

const char* ProfilerIdToString(ProfilerId id){
    switch(id){
        case ProfilerId::Null: return "Null";
{% for name in all_ids %}
        case ProfilerId::{{ name }}: return "{{ name }}";
{% endfor %}
        case ProfilerId::Count: return "Count";
    }
    return "Invalid";
}

} // namespace Garbox
