{% include "_common/header.j2" %}
#include "ScreenId.h"

namespace Garbox {

const char* ScreenIdToString(ScreenId id){
    switch(id){
        case ScreenId::Null: return "Null";
{% for name in names %}
        case ScreenId::{{ name.removesuffix("Screen") }}: return "{{ name.removesuffix("Screen") }}";
{% endfor %}
        case ScreenId::Count: return "Count";
    }
    return "Invalid";
}

} // namespace Garbox
