{% include "_common/header.j2" %}

#pragma once

#include <cstdint>
#include <cstring>
#include "shared/types/BehaviourId.h"
#include "shared/types/EventType.h"
{%- from "_common/includes.j2" import emit_includes -%}
{{- emit_includes(include) -}}

namespace Garbox::EventPayload {

// generated payloads
{% for name, fields in payloads.items() %}
struct {{ name }} {
    static constexpr EventType Type = EventType::{{ name }};
{% if fields %}
{% for name, type in fields.items() %}
    {{ type }} {{ name }};
{% endfor %}
{% endif %}
};

{% endfor %}
} // namespace Garbox::EventPayload
