#include "EventType.h"

{%- from "_common/includes.j2" import emit_includes -%}
{{ emit_includes(includes) }}

namespace Garbox {

const char* EventTypeToString(EventType type){
    switch(type){

        case EventType::Null: return "Null";

{% for name, fields in type.items() %}
        case EventType::{{ name }}: return "{{ name }}";
{% endfor %}

        case EventType::Count: return "Count";
    }

    return "Invalid";
}

} // namespace Garbox
