{% include "_common/header.j2" %}

#pragma once

#include <cstdint>
{%- from "_common/includes.j2" import emit_includes -%}
{{ emit_includes(includes) }}

namespace Garbox {

enum class EventType : uint16_t {

    // null event
    Null = 0,

{% for name, fields in type.items() %}
    {{ name }},
{% endfor %}

    // enum size marker
    Count,
};

const char* EventTypeToString(EventType type);

} // namespace Garbox
