#pragma once
{% include "_common/header.j2" %}
{% from "_common/component_h.j2" import constructor, on_ticks, on_events, on_states_changed, make_events, send_events, hide_events, states_include, states_protected, states_private  %}
{{ states_include(behaviour) }}
#include "core/application/behaviour/BehaviourAbs.h"
#include "shared/types/EventType.h"

namespace Garbox {

class {{ runtime_name }};

class {{ name }}Abs : public BehaviourAbs {
public:
{{ constructor(name) }}
{{ on_ticks(behaviour) }}
{{ on_events(behaviour) }}
{{ on_states_changed(behaviour) }}
protected:
{{ make_events(behaviour) }}
{{ send_events(behaviour) }}
{{ states_protected(behaviour) }}
private:
{{ states_private(behaviour) }}
{{ hide_events("Behaviour") }}

    friend class {{ runtime_name }};
};

} // namespace Garbox
