#pragma once
{% include "_common/header.j2" %}
{% from "_common/component_h.j2" import constructor, on_ticks, on_events, make_events, send_events, hide_events %}
#include "core/application/behaviour/BehaviourAbs.h"
#include "shared/types/EventType.h"

namespace Garbox {

class {{ name }}Abs : public BehaviourAbs {
public:
{{ constructor(name) }}
{{ on_ticks(behaviour) }}
{{ on_events(behaviour) }}
protected:
{{ make_events(behaviour) }}
{{ send_events(behaviour) }}
private:
{{ hide_events("Behaviour") }}
};

} // namespace Garbox
