#pragma once
{% include "_common/header.j2" %}
{%- from "_common/includes.j2" import emit_includes -%}
{%- from "_common/component_h.j2" import constructor, receive, receive_ticks, receive_events, make_events, send_events, hide_events -%}
#include "core/application/behaviour/BehaviourAbs.h"
#include "shared/types/EventType.h"
{{- emit_includes(meta) -}}

namespace Garbox {

class {{ name }}Abs : public BehaviourAbs {
public:
{{ constructor(name) -}}
{{- receive() }}
protected:
{{ receive_ticks(behaviour) -}}
{{- receive_events(behaviour) -}}
{{- make_events(behaviour) -}}
{{- send_events(behaviour) }}
private:
{{ hide_events("Behaviour") }}
};

} // namespace Garbox
