{% include "_common/header.j2" %}
{%- from "_common/component_cpp.j2" import constructor, make_events, send_events -%}
#include "{{ name }}Abs.h"
#include "shared/types/ComponentId.h"

namespace Garbox {

{{ constructor("Behaviour", name, behaviour) -}}
{{ make_events(name, behaviour) -}}
{{- send_events(name, behaviour) }} 
} // namespace Garbox
