{% include "_common/header.j2" %}

#include "BaseBehaviourAbs.h"

#include "shared/types/ComponentId.h"

namespace Garbox {

BaseBehaviourAbs::BaseBehaviourAbs(ComponentId componentId, BehaviourId behaviourId): 
    // init memberes
    BehaviourAbs(componentId, behaviourId){
    // nothing to do
}

} // namespace Garbox
