{% include "_common/header.j2" %}

#include "BaseBehaviourAbs.h"

#include "shared/types/ComponentId.h"

namespace Garbox {

BaseBehaviourAbs::BaseBehaviourAbs(ComponentId id): BehaviourAbs(id){
    // nothing to do
}

} // namespace Garbox
