{% include "_common/header.j2" %}

#pragma once

#include "core/application/behaviour/BehaviourAbs.h"
#include "shared/types/EventType.h"
{%- from "_common/includes.j2" import emit_includes -%}
{{- emit_includes(include) -}}

namespace Garbox {

class BaseBehaviourAbs : public BehaviourAbs {
public:
    
    // behaviour constructor
    BaseBehaviourAbs(ComponentId id, const RuntimeContext& context);
    {# ---- Tick handlers ---- #}
    {% if behaviour.ticks %}

    // tick handlers
        {% for tick in behaviour.ticks %}
    virtual void on{{ tick }}() = 0;
        {% endfor %}
    {% endif %}
    {# ---- Receive event typedefs + virtual handlers ---- #}
{% if behaviour.receives %}

    // shorthand types for read events 
{% for ev in behaviour.receives %}
    using {{ ev }} = EventRead<EventPayload::{{ ev }}>;
{% endfor %}

    // receive event handlers
{% for ev in behaviour.receives %}
    virtual void on{{ ev }}(const {{ ev }}& event) = 0;
{% endfor %}
{% endif %}

};

} // namespace Garbox
