#pragma once
{% include "_common/header_stub.j2" %}
#include "app/behaviours/generated/{{ name }}Abs.h"

namespace Garbox {

class {{ name }} : public {{ name }}Abs {
public:

    {{ name }}();
{% if behaviour.tick_phases %}

    {% for tick in behaviour.tick_phases %}
    void on{{ tick }}() final;
    {% endfor %}
{% endif %}
{% if behaviour.receives %}

    {% for ev in behaviour.receives %}
    void on{{ ev }}(const {{ ev }}Event& event) final;
    {% endfor %}
{% endif %}

private:

    void onInit() final;
    void onStart() final;
    void onBecomeActive() final;
    void onBecomeInactive() final;

};

} // namespace Garbox
