{% include "_common/header.j2" %}
{% set BehaviourName = name ~ 'Abs' %}

#pragma once

#include "core/application/behaviour/BehaviourAbs.h"

namespace Garbox {

class {{ BehaviourName }} : public BehaviourAbs {
public:

    {{ BehaviourName }}();
{# ---- Tick handlers ---- #}
{% if behaviour.ticks %}

    // tick handlers
    {% for tick in behaviour.ticks %}
    virtual void on{{ tick }}() = 0;
    {% endfor %}
{% endif %}
{# ---- receives ---- #}
{% if behaviour.receives %}

    {# onEvent methods #}
    // receive event handlers
    {% for ev in behaviour.receives %}
    virtual void on{{ ev }}(const {{ ev }}Event& event) = 0;
    {% endfor %}
{% endif %}

protected:
{# send event methods #}
{% if behaviour.sends %}

    {# makeEvent methods #}
    // make typed events
    {% for ev in behaviour.sends %}
    {{ ev }}Event make{{ ev }}Event();
    {% endfor %}

    {# sendEvent methods #}
    // send typed events
    {% for ev in behaviour.sends %}
    void sendEvent(const {{ ev }}Event& event);
    {% endfor %}
{% endif %}

private:

    // hide event methods
    using BehaviourAbs::makeEvent;
    using BehaviourAbs::publishEvent;

};

} // namespace Garbox
