{% include "_common/header.j2" %}

#include "{{ name }}Abs.h"

namespace Garbox {

{{ name }}Abs::{{ name }}Abs(): 
    // init memberes
    BehaviourAbs(ComponentId::{{ name }}, BehaviourId::{{ name.removesuffix("Behaviour") }}){
    // nothing to do
}
{# makeEvent methods #}
{% if behaviour.sends %}
{% for ev in behaviour.sends %}

{{ ev }}Event {{ name }}Abs::make{{ ev }}Event(){
    return makeEvent<EventType::{{ ev }}>();
}
{% endfor %}
{# sendEvent methods #}
{% for ev in behaviour.sends %}

void {{ name }}Abs::sendEvent(const {{ ev }}Event& event){
    sendEvent(event);
}
{% endfor %}
{% endif %}

} // namespace Garbox
