{% include "_common/header.j2" %}

#pragma once

#include "app/behaviours/generated/BaseBehaviourAbs.h"

namespace Garbox {

class {{ name }}Abs : public BaseBehaviourAbs {
public:

    {{ name }}Abs();

protected:
{% if behaviour.sends %}

    // shorthand types for write events 
{% for ev in behaviour.sends %}
    using {{ ev }}Write = EventWrite<EventPayload::{{ ev }}>;
{% endfor %}

    // make typed events
{% for ev in behaviour.sends %}
    {{ ev }}Write make{{ ev }}Event();
{% endfor %}

    // send typed events
{% for ev in behaviour.sends %}
    void sendEvent(const {{ ev }}Write& event);
{% endfor %}
{% endif %}

private:

    // hide event methods
    using BehaviourAbs::makeEvent;
    using BehaviourAbs::sendEvent;
{% if behaviour.ticks_null %}

    // hide unused ticks
{% for tick in behaviour.ticks_null %}
    void on{{ tick }}() final;
{% endfor %}
{% endif %}
{% if behaviour.receives_null %}

    // hide unused shorthand types 
{% for ev in behaviour.receives_null %}
    using BaseBehaviourAbs::{{ ev }};
{% endfor %}

    // hide unsued event handlers
{% for ev in behaviour.receives_null %}
    void on{{ ev }}(const {{ ev }}& event) final;
{% endfor %}
{% endif %}

};

} // namespace Garbox
