{% include "_common/header.j2" %}

#pragma once

#include "app/behaviours/generated/BaseBehaviourAbs.h"

namespace Garbox {

class {{ name }}Abs : public BaseBehaviourAbs {
public:

    {{ name }}Abs(const RuntimeContext& context);
    {% if behaviour.ticks_null %}

        {% for tick in behaviour.ticks_null %}
    void on{{ tick }}() final;
        {% endfor %}
    {% endif %}
    {% if behaviour.receives_null %}

        {% for ev in behaviour.receives_null %}
    void on{{ ev }}(const EventRead<EventPayload::{{ ev }}>& event) final;
        {% endfor %}
    {% endif %}

};

} // namespace Garbox
