{% include "_common/header_stub.j2" %}

#pragma once

#include "app/controllers/generated/{{ name }}Abs.h"

namespace Garbox {

class {{ name }} : public {{ name }}Abs {
public:

    {{ name }}();
    {% if controller.ticks %}

        {% for tick in controller.ticks %}
    void on{{ tick }}() final;
        {% endfor %}
    {% endif %}
    {% if controller.receives %}

        {% for ev in controller.receives %}
    void on{{ ev }}(const {{ ev }}& event) final;
        {% endfor %}
    {% endif %}

private:

    void onInit() final;
    void onStart() final;

};

} // namespace Garbox
