{% include "_common/header.j2" %}

#include "{{ name }}Abs.h"

#include "shared/types/ComponentId.h"

namespace Garbox {

{{ name }}Abs::{{ name }}Abs():
    // init memberes
    ControllerAbs(ComponentId::{{ name }}, ControllerId::{{ name.removesuffix("Controller") }}){
    // nothing to do
}
{% if controller.sends %}
{% for ev in controller.sends %}

{{ ev }}Event {{ name }}Abs::make{{ ev }}Event(){
    return ControllerAbs::makeEvent<EventType::{{ ev }}>();
}
{% endfor %}
{% for ev in controller.sends %}

void {{ name }}Abs::sendEvent(const {{ ev }}Event& event){
    publishEvent(event.header());
}
{% endfor %}
{% endif %}

} // namespace Garbox
