{% include "_common/header.j2" %}

#include "{{ name }}Abs.h"

#include "shared/types/ComponentId.h"

namespace Garbox {

{{ name }}Abs::{{ name }}Abs(): 
    // init members
    ControllerAbs(ComponentId::{{ name }}){
    // nothing to do
}
{% if controller.sends %}
{% for ev in controller.sends %}

{{ name }}Abs::{{ ev }}Write {{ name }}Abs::make{{ ev }}Event(){
    return makeEvent<EventPayload::{{ ev }}>();
}
{% endfor %}
{% for ev in controller.sends %}

void {{ name }}Abs::sendEvent(const {{ ev }}Write& event){
    sendEvent(event.header);
}
{% endfor %}
{% endif %}

} // namespace Garbox
