{% include "_common/header.j2" %}

#pragma once

#include "core/application/controller/ControllerAbs.h"
#include "shared/types/EventType.h"
{%- from "_common/includes.j2" import emit_includes -%}
{{- emit_includes(include) -}}

namespace Garbox {

class {{ name }}Abs : public ControllerAbs {
public:
    
    // controller constructor
    {{ name }}Abs();
    {# ---- Tick handlers ---- #}
{% if controller.ticks %}

    // tick handlers
{% for tick in controller.ticks %}
    virtual void on{{ tick }}() = 0;
{% endfor %}
{% endif %}
{# ---- Receive event typedefs + virtual handlers ---- #}
{% if controller.receives %}

    // shorthand types for read events 
{% for ev in controller.receives %}
    using {{ ev }} = EventRead<EventPayload::{{ ev }}>;
{% endfor %}

    // receive event handlers
{% for ev in controller.receives %}
    virtual void on{{ ev }}(const {{ ev }}& event) = 0;
{% endfor %}
{% endif %}

protected:
{% if controller.sends %}

    // shorthand types for write events 
{% for ev in controller.sends %}
    using {{ ev }}Write = EventWrite<EventPayload::{{ ev }}>;
{% endfor %}

    // make typed events
{% for ev in controller.sends %}
    {{ ev }}Write make{{ ev }}Event();
{% endfor %}

    // send typed events
{% for ev in controller.sends %}
    void sendEvent(const {{ ev }}Write& event);
{% endfor %}
{% endif %}

private:

    // hide event methods
    using ControllerAbs::makeEvent;
    using ControllerAbs::sendEvent;

};

} // namespace Garbox
