{% include "_common/header_stub.j2" %}

#include "{{ name }}.h"

namespace Garbox {

{{ name }}::{{ name }}(const RuntimeContext& context): {{ name }}Abs(context){
    // nothing to do
}

void {{ name }}::onInit(){
    // nothing to do
}

void {{ name }}::onStart(){
    // nothing to do
}
{% if controller.ticks %}
{% for tick in controller.ticks %}

void {{ name }}::on{{ tick }}(){
    // nothing to do
}
{% endfor %}
{% endif %}
{% if controller.receives %}
{% for ev in controller.receives %}

void {{ name }}::on{{ ev }}(const {{ ev }}& event){
    // nothing to do
}
{% endfor %}
{% endif %}

} // namespace Garbox
