{% include "_common/header.j2" %}

#include "{{ name }}Abs.h"

#include "shared/types/ComponentId.h"

namespace Garbox {

{{ name }}Abs::{{ name }}Abs(const RuntimeContext& context): 
    // init members
    ControllerAbs(ComponentId::{{ name }}, context){
    // nothing to do
}

} // namespace Garbox
