#pragma once
{% include "_common/header_stub.j2" %}
{% from "_common/component_stub_h.j2" import constructor, on_ticks, on_events %}
#include "app/screens/abstract/{{ name }}Abs.h"

namespace Garbox {

class {{ name }} : public {{ name }}Abs {
public:

{{ constructor(screen) }}
{{ on_ticks(screen) }}
{{ on_events(screen) }}

private:

    // safe to update lvgl objects in these methods
    void onInit() final;
    void onStart() final;
    void onBecomeEnabled() final;
    void onBecomeDisabled() final;
    void onUpdateScreen() final; 

};

} // namespace Garbox
