{% include "_common/header.j2" %}
{% from "_common/component_cpp.j2" import constructor, make_events, send_events %}
#include "{{ name }}Abs.h"
#include <math.h>
#include "shared/types/ComponentId.h"

namespace Garbox {


{# constructor #}
{% if screen.model.fields %}
{{ name }}Abs::{{ name }}Abs(): 
    ScreenAbs(
        ComponentId::{{ name }}, 
        ScreenId::{{ name.removesuffix("Screen") }}, 
        static_cast<uint32_t>(Model::Index::Count)
    ),
    mModel(*this){}
{% else %}
{{ name }}Abs::{{ name }}Abs() : ScreenAbs(ComponentId::{{ name }}, ScreenId::{{ name.removesuffix("Screen") }}, 0){}
{% endif %}

{# onInitScreen() #}
void {{ name }}Abs::init(ComponentHostIfc& host){
    ScreenAbs::init(host);
{% if screen.model.fields %}
{% for group_name in screen.model.groups.keys() %}
    registerUpdateHandler(apply{{ group_name|upper_first }}Trampoline, this);
{% endfor %}
{% else %}
    // no model fields configured
{% endif %}
}

{% if screen.model.get("debounce") %}
void {{ name }}Abs::updateScreen(){
    mModel.updateTimers();
    ScreenAbs::updateScreen();
}

void {{ name }}Abs::becomeEnabled(){
    mModel.resetTimers();
    ScreenAbs::becomeEnabled();
}

void {{ name }}Abs::becomeDisabled(){
    mModel.resetTimers();
    ScreenAbs::becomeDisabled();
}
{% endif %}

{% if screen.model.fields %}
{{ name }}Abs::Model& {{ name }}Abs::getModel(){
    return mModel;
}

const {{ name }}Abs::Model& {{ name }}Abs::getModel() const {
    return mModel;
}

{# dirty dispatch #}
void {{ name }}Abs::markDirty(Model::Index index){
    markDirtyRaw(static_cast<size_t>(index));
}

bool {{ name }}Abs::isMarkedDirty(Model::Index index) const {
    return isMarkedDirtyRaw(static_cast<size_t>(index));
}
{% endif %}

{# make and send events #}
{{ make_events(name, screen) }}
{{ send_events(name, screen) }}

{# model groups trampolines #}
{% if screen.model.fields %}
{% for group_name, fields in screen.model.groups.items() %}
void {{ name }}Abs::apply{{ group_name|upper_first }}Trampoline(void* context){
    static_cast<{{ name }}Abs*>(context)->onApply{{ group_name|upper_first }}();
}

{% endfor %}
{% endif %}

{% if screen.model.fields %}
{% include "components/screen/ScreenModel.cpp.j2" %}
{% endif %}

} // namespace Garbox
