{{ name }}Abs::Model::Model({{ name }}Abs& screen) : mScreen(screen){ 
    // nothing to do 
}

{% if screen.model.get("debounce") %}
void {{ name }}Abs::Model::resetTimers(){
    {% for field in screen.model.debounce.values() %}
    mDebounceTimer{{ field.name|upper_first }}.reset();
    {% endfor %}
}

void {{ name }}Abs::Model::updateTimers(){
    {% for field in screen.model.debounce.values() %}
    if(mDebounceTimer{{ field.name|upper_first }}.isExpired()){
        if(mDebounceRepeatFlag{{ field.name|upper_first }}){
            mScreen.markDirty(Model::Index::{{ field.group }});
            mDebounceTimer{{ field.name|upper_first }}.restart({{ field["debounce"] }});
        }
        else {
            mDebounceTimer{{ field.name|upper_first }}.reset();
        }
        mDebounceRepeatFlag{{ field.name|upper_first }} = false;
    }
    {% endfor %}
}
{% endif %}

{% for field in screen.model.fields.values() %}
{{ field.type }} {{ name }}Abs::Model::get{{ field.name|upper_first }}() const { 
    return m{{ field.name|upper_first }}; 
}

{% endfor %}

{% for field in screen.model.fields.values() %}
void {{ name }}Abs::Model::set{{ field.name|upper_first }}({{ field.type }} value){ 
    {% if field.get("epsilon") %}
    static constexpr float epsilon = {{ field.epsilon }};
    if(fabsf(m{{ field.name|upper_first }} - value) >= epsilon) { 
    {% else %}
    if(m{{ field.name|upper_first }} != value) { 
    {% endif %}
        m{{ field.name|upper_first }} = value; 
    {% if field.get("debounce") %}
        if(mDebounceTimer{{ field.name|upper_first }}.isReset()){
            mScreen.markDirty(Model::Index::{{ field.group }});
            mDebounceTimer{{ field.name|upper_first }}.start({{ field["debounce"] }});
        }
        else {
            mDebounceRepeatFlag{{ field.name|upper_first }} = true;
        }
    {% else %}
        mScreen.markDirty(Model::Index::{{ field.group }});
    {% endif %}
    {% if field.get("dirty") %}
        {% for dirty in field.dirty %}
        mScreen.markDirty(Model::Index::{{ dirty|upper_first }});
        {% endfor %}
    {% endif %}
    } 
}

{% endfor %}