{% include "_common/header.j2" %}
#include "{{ name }}Abs.h"

namespace Garbox {

{{ name }}Abs::{{ name }}Abs(): 
    // init memberes
    ScreenAbs(ComponentId::{{ name }}, ScreenId::{{ name.removesuffix("Screen") }}){
    // nothing to do
}
{# makeEvent methods #}
{% if screen.sends %}
{% for ev in screen.sends %}

{{ ev }}Event {{ name }}Abs::make{{ ev }}Event(){
    return ScreenAbs::makeEvent<EventType::{{ ev }}>();
}
{% endfor %}
{# sendEvent methods #}
{% for ev in screen.sends %}

void {{ name }}Abs::sendEvent(const {{ ev }}Event& event){
    publishEvent(event.header());
}
{% endfor %}
{% endif %}
{# ---- update ---- #}
{% if screen.used_events %}
{% for event_name in screen.used_events %}

void update{{ event_name }}(const {{ event_name }}Payload& payload){
    const bool changed =
{%- for state_key, state_list in screen.states %}
        state_data[]
{% endfor %}
}
{% endfor %}
{% endif %}

} // namespace Garbox
