#pragma once
{% include "_common/header.j2" %}
{% if renderer.mode_lvgl_gui %}
#include "generated/guis/{{ screen.gui["name"] }}Gui.h"
{% endif %}
{% if renderer.mode_lvgl_simple %}
#include "core/lvgl/objects/LvObject.h"
{% endif %}

namespace Garbox {

class {{ name }}Renderer {

    virtual void onInit() = 0;

{### <LvglSimple> ###}
{% if renderer.mode_lvgl_simple %}
protected:

    LvObject mRoot;
    const uint32_t mScreenWidth = 0;
    const uint32_t mScreenHeight = 0;

{% endif %}
{### </LvglSimple> ###}

{### <LvglGui> ###}
{% if renderer.mode_lvgl_gui %}
private:

    {{ renderer.gui["name"] }}Gui mGui;

protected:

    {{ renderer.gui["name"] }}Gui::Objects& gui(); 
    const uint32_t mScreenWidth = 0;
    const uint32_t mScreenHeight = 0;

{% endif %}
{### </LvglGui> ###}

};

} // namespace
