{% macro emit_includes(include) %}
{% if include is defined and include %}


// included from config
{% for path in include %}
#include "{{ path }}"
{% endfor %}

{% else %}


{% endif %}
{% endmacro %}
