{% include "_common/header.j2" %}
#include "EventReplay.h"
#include "core/assert/Assert.h"

namespace Garbox {

{% for screen_name, screen_data in screens.items() %}
    {% for event_name in screen_data.replay_events: %}
static constexpr size_t {{ screen_name }}_{{ event_name }}_Index = {{ loop.index0 }} ;
    {% endfor %}
{% endfor %}

EventReplay::EventReplay(
    // parameter list
{% for name, screen_data in screens.items() %} 
    {{ name }}Abs& {{ name[0]|lower ~ name[1:] }}{% if not loop.last %}, {% endif %}
{% endfor %}):
    // init members
{% for name, screen_data in screens.items() %} 
    m{{ name }}({{ name[0]|lower ~ name[1:] }}){% if not loop.last %}, {% endif %}
{% endfor %}{
    // register handlers
{% for screen_name, screen_data in screens.items() %}
    {% for event_name in screen_data.replay_events: %}
    m{{ screen_name }}Dispatcher.registerHandler(send{{ event_name }}To{{ screen_name }}, this);
    {% endfor %}
{% endfor %}
    // init event headers
    const ComponentDescriptor descriptor { ComponentType::Replay, ComponentId::Replay };
{% for name, data in events.items() %}
    m{{ name }}Block.header.type = EventType::{{ name }};
    m{{ name }}Block.header.sender = descriptor;
{% endfor %}
}

void EventReplay::storeEvent(const EventHeader* header){
    switch(header->type){
{% for event_name, event_data in events.items() %}
        case EventType::{{ event_name }}:
            m{{ event_name }}Block.header.id = header->id;
            m{{ event_name }}Block.payload = *static_cast<{{ event_name }}Event>(header).payload();
    {% for screen_name, screen_data in screens.items() %}
        {% if event_name in screen_data.replay_events %}
            m{{ screen_name }}Dispatcher.markDirty({{ screen_name }}_{{ event_name }}_Index);
        {% endif %}
    {% endfor %}
            break;
{% endfor %}
        default: break; // no screen listens to event type
    }
}

void EventReplay::replay(ScreenId screenId){
    switch(screenId){
{% for screen_name, screen_data in screens.items() %}
        case ScreenId::{{ screen_name.removesuffix("Screen") }}:
            m{{ screen_name }}Dispatcher.dispatch();
            break;
{% endfor %}
        default: TriggerExit("EventReplay", "invalid screen id");
    }
}

{% for screen_name, screen_data in screens.items() %}
    {% for event_name in screen_data.replay_events: %}
void EventReplay::send{{ event_name }}To{{ screen_name }}(void* context){ 
    EventReplay* self = static_cast<EventReplay*>(context);
    {% if event_name in screen_data["receives"] %}
    self->m{{ screen_name }}.on{{ event_name }}(&self->m{{ event_name }}Block.header); 
    {% endif %}
    {% if event_name in screen_data["model"]["events"] %}
    {{ screen_name }}::Model& model = self->m{{ screen_name }}.getModel();
    {{ event_name }}Payload& payload = self->m{{ event_name }}Block.payload; 
        {% for field in screen_data["model"]["events"][event_name].values() %}
    model.set{{ field.name|upper_first }}(payload.{{ field.event_field }}); 
        {% endfor %}
    {% endif %}
}

    {% endfor %}
{% endfor %}
} // namespace
