{% include "_common/header.j2" %}
{% set RuntimeName = application.app_name ~ 'Runtime' %}
#include "{{ RuntimeName }}.h"
#include "core/assert/Assert.h"
#include "core/diagnostics/Profiler.h"
#include "core/time/Time.h"

namespace Garbox {

static constexpr size_t TickHandlersCount = {{ application.tick_phases | length }};
static constexpr size_t TickPeriodMillis = {{ application.tick_period_millis }};

{% for tick in application.tick_phases %}
static constexpr uint32_t {{ tick.name }}DelayMillis = {{ tick.delay_millis | default (0) }};
{% endfor %}

{{ RuntimeName }}::{{ RuntimeName }}():
    RuntimeAbs(RuntimeAbs::Config {
        .numComponents = {{ controllers | length + behaviours | length + screens | length }},
        .eventPoolSizeBytes = {{ application.event_pool_size_bytes }},
        .eventQueueLength = {{ application.event_queue_length }},
    }),
    mTickRunner(TickHandlersCount, TickPeriodMillis),
    mEventReplay(
{% for name, screen_data in screens.items() %} 
        m{{ name }}{% if not loop.last %}, {% endif %}
{% endfor %} 
    ){

    // register components
{% for beh in behaviours %}
    registerComponent(&m{{ beh }});
{% endfor %}
{% for ctrl in controllers %}
    registerComponent(&m{{ ctrl }});
{% endfor %}
{% for screen in screens %}
    registerComponent(&m{{ screen }});
{% endfor %}

    // set start and end tick handlers
    mTickRunner.setTickStartHandler([this](){ handleTickStart(); });
    mTickRunner.setTickEndHandler([this](){ handleTickEnd(); });

    //  register all tick phases
{% for tick in application.tick_phases %}
    mTickRunner.registerTickPhase([this](){ handle{{ tick.name }}(); }, {{ tick.name }}DelayMillis);
{% endfor %}
}

void {{ RuntimeName }}::onInit(){
    // behaviours and controllers are already initialized when this method is called
    setQueuedBehaviour(&m{{ application.initial_behaviour }});
    setQueuedScreen(&m{{ application.initial_screen }});
    Profiler::Init();
}

void {{ RuntimeName }}::onStart(){
    // behaviours and controllers are already started when this method is called
    Profiler::SetEnabled(true);
}

void {{ RuntimeName }}::onRun(){
    Time::Start();
    Profiler::Reset();
    mTickRunner.run();
}

void {{ RuntimeName}}::onActiveBehaviourChanged(){
    // nothing to do
}

void {{ RuntimeName}}::onActiveScreenChanged(){
    if(mActiveScreen){
        mEventReplay.replay(mActiveScreen->getScreenId());
    }
}

void {{ RuntimeName}}::handleTickStart(){
    Time::Tick();
    Profiler::MeasurePeriodic(ProfilerId::MainPeriod);
    Profiler::MeasureBegin(ProfilerId::MainBusy);
    applyQueuedBehaviour();
    applyQueuedScreen();
}

void {{ RuntimeName}}::handleTickEnd(){
    mContext.tickCount++;
    Profiler::MeasureEnd(ProfilerId::MainBusy);
}

{# ---- GENERATE tick_phases ---- #}
{% for tick in application.tick_phases %}
void {{ RuntimeName }}::handle{{ tick.name }}(){
    Profiler::MeasureScoped profiler(ProfilerId::{{ tick.name }});
    {# Call tick on controllers supporting this tick #}
    {% for ctrl_key, ctrl in controllers.items() %}
        {% if tick.name in ctrl['tick_phases'] %}
    m{{ ctrl_key }}.on{{ tick.name }}();
        {% endif %}
    {% endfor %}
    {# Call tick on active behaviour #}
    {% if tick["behaviours"] | length > 0 %}
    switch(mActiveBehaviour->getBehaviourId()){
    {% for beha in tick["behaviours"] %}
        case BehaviourId::{{ beha.removesuffix("Behaviour") }}: static_cast<{{ beha }}*>(mActiveBehaviour)->on{{ tick.name }}(); break;
    {% endfor %}
        default: break; // active behaviour does not support tick type
    }
    {% endif %}
    {# Call tick on active screen #}
    {% if tick["screens"] | length > 0 %}
    switch(mActiveScreen->getScreenId()){
    {% for screen in tick["screens"] %}
        case ScreenId::{{ screen.removesuffix("Screen") }}: static_cast<{{ screen }}*>(mActiveScreen)->on{{ tick.name }}(); break;
    {% endfor %}
        default: break; // active behaviour does not support tick type
    }
    {% endif %}
    {# Call dispatch events #}
    dispatchEvents();
}

{% endfor %}
void {{ RuntimeName }}::onRouteEvent(const EventHeader* header){

    // store event for replay
    mEventReplay.storeEvent(header);

    // route event to components
    switch(header->type){
{# ---- Route events ---- #}
{% for event, routes in event_routes.items() %}
    case EventType::{{ event }}: {
    {% if routes["count"] > 0 %}
        const {{ event }}Event event(header);
    {% endif %}
    {# send event to controllers supporting this event #}
    {% for ctrl in routes["controllers"] %}
        m{{ ctrl }}.on{{ event }}(event);
    {% endfor %}
    {# send event to active behaviour (if it supports this event) #}
    {% if routes["behaviours"] | length > 0 or routes["screens"] | length > 0 %}
        if(header->sendToInactiveComponents){
        {% for beha in routes["behaviours"] %}
            m{{ beha }}.on{{ event }}(event);
        {% endfor %}
        {% for screen in routes["screens"] %}
            m{{ screen }}.on{{ event }}(event);
        {% endfor %}
        }
        else {
        {% if routes["behaviours"] | length > 0 %}
            switch(mActiveBehaviour->getBehaviourId()){
            {% for beha in routes["behaviours"] %}
                case BehaviourId::{{ beha.removesuffix("Behaviour") }}: static_cast<{{ beha }}*>(mActiveBehaviour)->on{{ event }}(event); break;
            {% endfor %}
                default: break; // active behaviour does not support event type
            }
        {% endif %}
    {# send event to active screen (if it supports this event) #}
        {% if routes["screens"] | length > 0 or routes["screen_updaters"] | length > 0 %}
            switch(mActiveScreen->getScreenId()){
            {% for screen_name, screen_data in screens.items() %}
                {% if screen_name in routes.screens or screen_name in routes["screen_updaters"] %}
                case ScreenId::{{ screen_name.removesuffix("Screen") }}:
                    {% if event in screen_data.updaters_by_event %}
                    static_cast<{{ screen_name }}*>(mActiveScreen)->receive{{ event }}(event);
                    {% endif %}
                    {% if event in screen_data.receives %}
                    static_cast<{{ screen_name }}*>(mActiveScreen)->on{{ event }}(event);
                    {% endif %}
                    break;
                {% endif %}
            {% endfor %}
                default: break; // active screen does not support event type
            }
        {% endif %}
        }
    {% endif %}
        break;
    }
{% endfor %}
    case EventType::Null:
    case EventType::Count:
        TriggerDebug("{{ RuntimeName }}", "invalid event type");
        break;
    }
}

BehaviourAbs* {{ RuntimeName }}::resolveBehaviour(BehaviourId id){
    switch(id){
{% for key in behaviours %}
        case BehaviourId::{{ key.removesuffix("Behaviour") }}: return &m{{ key }};
{% endfor %}
        default: TriggerExit("{{ RuntimeName }}", "behaviour with id not found", static_cast<uint32_t>(id));
    }
    return nullptr;
}

ControllerAbs* {{ RuntimeName }}::resolveController(ControllerId id){
    switch(id){
{% for key in controllers %}
        case ControllerId::{{ key.removesuffix("Controller") }}: return &m{{ key }};
{% endfor %}
        default: TriggerExit("{{ RuntimeName }}", "controller with id not found", static_cast<uint32_t>(id));
    }
    return nullptr;
}

ScreenAbs* {{ RuntimeName }}::resolveScreen(ScreenId id){
    switch(id){
{% for key in screens %}
        case ScreenId::{{ key.removesuffix("Screen") }}: return &m{{ key }};
{% endfor %}
        default: TriggerExit("{{ RuntimeName }}", "screen with id not found", static_cast<uint32_t>(id));
    }
    return nullptr;
}

} // namespace Garbox
