{% include "_common/header.j2" %}
{% set RuntimeName = application.app_name ~ 'Runtime' %}
#include "{{ RuntimeName }}.h"
#include "core/assert/Assert.h"
#include "core/diagnostics/Profiler.h"
#include "core/time/Time.h"

namespace Garbox {

static constexpr size_t TickHandlersCount = {{ application.tick_phases | length }};
static constexpr size_t TickPeriodMillis = {{ application.tick_period_millis }};

{% for tick in application.tick_phases %}
static constexpr uint32_t {{ tick.name }}DelayMillis = {{ tick.delay_millis | default (0) }};
{% endfor %}

{{ RuntimeName }}::{{ RuntimeName }}():
    RuntimeAbs({
        .maxComponents = {{ (controllers|length) + (behaviours|length) + (screens|length) }},
        .eventPoolSizeBytes = {{ application.event_pool_size_bytes }},
        .eventQueueLength = {{ application.event_queue_length }},
    }),
    mTickRunner(TickHandlersCount, TickPeriodMillis){

    // set start and end tick handlers
    mTickRunner.setTickStartHandler([this](){ handleTickStart(); });
    mTickRunner.setTickEndHandler([this](){ handleTickEnd(); });

    //  register all tick phases
{% for tick in application.tick_phases %}
    mTickRunner.registerTickPhase([this](){ handle{{ tick.name }}(); }, {{ tick.name }}DelayMillis);
{% endfor %}
}

void {{ RuntimeName }}::onRegister(){
{% for beh in behaviours %}
    registerComponent(&m{{ beh }});
{% endfor %}
{% for ctrl in controllers %}
    registerComponent(&m{{ ctrl }});
{% endfor %}
{% for screen in screens %}
    registerComponent(&m{{ screen }});
{% endfor %}
}

void {{ RuntimeName }}::onInit(){
    // behaviours and controllers are already initialized when this method is called
    setQueuedBehaviour(&m{{ application.initial_behaviour }});
    setQueuedScreen(&m{{ application.initial_screen }});
    Profiler::Init();
}

void {{ RuntimeName }}::onStart(){
    // behaviours and controllers are already started when this method is called
    Profiler::SetEnabled(true);
}

void {{ RuntimeName }}::onRun(){
    Time::Start();
    Profiler::Reset();
    mTickRunner.run();
}

void {{ RuntimeName}}::handleTickStart(){
    Time::Tick();
    Profiler::MeasurePeriodic(ProfilerId::MainPeriod);
    Profiler::MeasureBegin(ProfilerId::MainBusy);
    applyQueuedBehaviour();
}

void {{ RuntimeName}}::handleTickEnd(){
    mContext.tickCount++;
    Profiler::MeasureEnd(ProfilerId::MainBusy);
}

{# ---- GENERATE tick_phases ---- #}
{% for tick in application.tick_phases %}
void {{ RuntimeName }}::handle{{ tick.name }}(){
    Profiler::MeasureScoped profiler(ProfilerId::{{ tick.name }});
    {# Call tick on controllers supporting this tick #}
    {% for ctrl_key, ctrl in controllers.items() %}
        {% if tick.name in ctrl['tick_phases'] %}
    m{{ ctrl_key }}.on{{ tick.name }}();
        {% endif %}
    {% endfor %}
    {# Call tick on active behaviour #}
    switch(mActiveBehaviour->getBehaviourId()){
    {% for beha_key, beha in behaviours.items() %}
        {% if tick.name in beha['tick_phases'] %}        case BehaviourId::{{ beha_key.removesuffix("Behaviour") }}: static_cast<{{ beha_key }}*>(mActiveBehaviour)->on{{ tick.name }}(); break;
        {% endif %}
    {% endfor %}
        default: break; // active behaviour does not support tick type
    }
    {# Call tick on active screen #}
    switch(mActiveScreen->getScreenId()){
    {% for screen_key, screen in screens.items() %}
        {% if tick.name in screen['tick_phases'] %}        case ScreenId::{{ screen_key.removesuffix("Screen") }}: static_cast<{{ screen_key }}*>(mActiveScreen)->on{{ tick.name }}(); break;
        {% endif %}
    {% endfor %}
        default: break; // active behaviour does not support tick type
    }
    {# Call dispatch events #}
    dispatchEvents();
}

{% endfor %}
void {{ RuntimeName }}::onRouteEvent(const EventHeader* header){
    switch(header->type){
{# ---- Route events ---- #}
{% for event, routes in event_routes.items() %}
    case EventType::{{ event }}: {
        const {{ event }}Event event(header);
    {# send event to controllers supporting this event #}
    {% for ctrl in routes["controllers"] %}
        m{{ ctrl }}.on{{ event }}(event);
    {% endfor %}
    {% set ns = namespace(beha_count=0, screen_count=0) %}
    {# get number of behaviours with this event #}
    {% for beha_key, beha in behaviours.items() %}
        {% if event in beha['receives'] %}
            {% set ns.beha_count = ns.beha_count + 1 %}
        {% endif %}
    {% endfor %}
    {# get number of screens with this event #}
    {% for screen_key, screen in screens.items() %}
        {% if event in screen['receives'] %}
            {% set ns.screen_count = ns.screen_count + 1 %}
        {% endif %}
    {% endfor %}
    {# send event to active behaviour (if it supports this event) #}
    {% if ns.beha_count > 0 %} 
        // send event to active behaviour (if supported)
        switch(mActiveBehaviour->getBehaviourId()){
            {% for beha_key, beha in behaviours.items() %}
                {% if event in beha['receives'] %}            case BehaviourId::{{ beha_key.removesuffix("Behaviour") }}: static_cast<{{ beha_key }}*>(mActiveBehaviour)->on{{ event }}(event); break;
                {% endif %}
            {% endfor %}
            default: break; // active behaviour does not support event type
        }
    {% endif %}
    {# send event to active screen (if it supports this event) #}
    {% if ns.screen_count > 0 %} 
        // send event to active screen (if supported)
        switch(mActiveScreen->getScreenId()){
            {% for screen_key, screen in screens.items() %}
                {% if event in screen['receives'] %}            case ScreenId::{{ screen_key.removesuffix("Screen") }}: static_cast<{{ screen_key }}*>(mActiveScreen)->on{{ event }}(event); break;
                {% endif %}
            {% endfor %}
            default: break; // active screen does not support event type
        }
    {% endif %}
        break;
    }
    {% endfor %}
    case EventType::Null:
    case EventType::Count:
        TriggerDebug("{{ RuntimeName }}", "invalid event type");
        break;
    }
}

BehaviourAbs* {{ RuntimeName }}::resolveBehaviour(BehaviourId id){
    switch(id){
{% for key in behaviours %}
        case BehaviourId::{{ key.removesuffix("Behaviour") }}: return &m{{ key }};
{% endfor %}
        default: TriggerExit("{{ RuntimeName }}", "behaviour with id not found", static_cast<uint32_t>(id));
    }
    return nullptr;
}

ControllerAbs* {{ RuntimeName }}::resolveController(ControllerId id){
    switch(id){
{% for key in controllers %}
        case ControllerId::{{ key.removesuffix("Controller") }}: return &m{{ key }};
{% endfor %}
        default: TriggerExit("{{ RuntimeName }}", "controller with id not found", static_cast<uint32_t>(id));
    }
    return nullptr;
}

ScreenAbs* {{ RuntimeName }}::resolveScreen(ScreenId id){
    switch(id){
{% for key in screens %}
        case ScreenId::{{ key.removesuffix("Screen") }}: return &m{{ key }};
{% endfor %}
        default: TriggerExit("{{ RuntimeName }}", "screen with id not found", static_cast<uint32_t>(id));
    }
    return nullptr;
}

} // namespace Garbox
