#pragma once
{% include "_common/header.j2" %}
{% set RuntimeName = application.app_name ~ 'Runtime' %}
#include "app/runtime/EventReplay.h"
#include "core/application/runtime/RuntimeAbs.h"
#include "core/application/runtime/TickRunner.h"
// include all components
{# include all behaviour headers #}
{% for path in behaviour_paths | sort %}
#include "{{ path }}.h"
{% endfor %}
{# include all controller headers #}
{% for path in controller_paths | sort %}
#include "{{ path }}.h"
{% endfor %}
{# include all screen headers #}
{% for path in screen_paths | sort %}
#include "{{ path }}.h"
{% endfor %}

namespace Garbox {

class {{ RuntimeName }} : public RuntimeAbs {
public:

    {{ RuntimeName }}();

private:

    TickRunner mTickRunner;
    EventReplay mEventReplay;

    {# behaviour instances #}
    {% for beh in behaviours %}
    {{ beh }} m{{ beh }};
    {% endfor %}

    {# controller instances #}
    {% for ctrl in controllers %}
    {{ ctrl }} m{{ ctrl }};
    {% endfor %}

    {# screen instances #}
    {% for screen in screens %}
    {{ screen }} m{{ screen }};
    {% endfor %}

    void handleTickStart();
    void handleTickEnd();

    {# Generate tick method declarations #}
    {% for tick in application.tick_phases %}
    void handle{{ tick.name }}();
    {% endfor %}

    void onInit() final;
    void onStart() final;
    void onRun() final;
    void onRegister() final;
    void onRouteEvent(const EventHeader* header) final;
    void onActiveBehaviourChanged() final;
    void onActiveScreenChanged() final;

    BehaviourAbs* resolveBehaviour(BehaviourId id) final;
    ControllerAbs* resolveController(ControllerId id) final;
    ScreenAbs* resolveScreen(ScreenId id) final;
    
};

} // namespace Garbox
