{% include "_common/header.j2" %}
{% set RuntimeName = 'Runtime' %}
#include "{{ RuntimeName }}.h"

#include "app/generated/runtime/SnapshotRegistry.h"
#include "core/assert/Assert.h"
#include "core/diagnostics/Profiler.h"
#include "core/time/Time.h"

namespace Garbox {

static constexpr size_t TickHandlersCount = {{ application.tick_phases | length }};
static constexpr size_t TickPeriodMillis = {{ application.tick_period_millis }};

{% for tick in application.tick_phases %}
static constexpr uint32_t {{ tick.name }}DelayMillis = {{ tick.delay_millis | default (0) }};
{% endfor %}

{{ RuntimeName }}::{{ RuntimeName }}():
    RuntimeAbs(RuntimeAbs::Config {
        .numComponents = {{ controllers | length + behaviours | length + screens | length }},
        .numStates = {{ states | length }},
        .eventPoolSizeBytes = {{ application.event_pool_size_bytes }},
        .eventQueueLength = {{ application.event_queue_length }},
        .maxDispatchRecursionDepth = {{ application.max_dispatch_recursion_depth }}
    }),
    mTickRunner(TickHandlersCount, TickPeriodMillis),
    mStateRegistry(){

    // register states
{% for state in states.values() %}
    registerState(&mStateRegistry.get{{ state.name|upper_first }}());
{% endfor %}

    // register components
{% for beh in behaviours %}
    registerComponent(&m{{ beh }});
{% endfor %}
{% for ctrl in controllers %}
    registerComponent(&m{{ ctrl }});
{% endfor %}
{% for screen in screens %}
    registerComponent(&m{{ screen }});
{% endfor %}

    // set start and end tick handlers
    mTickRunner.setTickStartHandler([this](){ handleTickStart(); });
    mTickRunner.setTickEndHandler([this](){ handleTickEnd(); });

    //  register all tick phases
{% for tick in application.tick_phases %}
    mTickRunner.registerTickPhase([this](){ handle{{ tick.name }}(); }, {{ tick.name }}DelayMillis);
{% endfor %}

{% for comp_name, comp_data in components.items() %}
    {% if comp_data.all_states %}
    // bind '{{comp_name}}' states
    m{{ comp_name }}.bindStates(
    {% for state_name, state_data in comp_data.write_states.items() %}
        {% set delim = "" if loop.last and not comp_data.read_states else ","%}
        mStateRegistry.get{{ state_data["name"]|upper_first }}(){{ delim }}
    {% endfor %}
    {% for state_name, state_data in comp_data.read_states.items() %}
        {% set delim = "" if loop.last else ","%}
        mStateRegistry.get{{ state_data["name"]|upper_first }}(){{ delim }}
    {% endfor %}
    );
    {% endif %}

{% endfor %}
}

void {{ RuntimeName }}::onInit(){
    // behaviours and controllers are already initialized when this method is called
    setQueuedBehaviour(&m{{ application.initial_behaviour }});
    setQueuedScreen(&m{{ application.initial_screen }});
    Profiler::Init();
}

void {{ RuntimeName }}::onStart(){
    // behaviours and controllers are already started when this method is called
    Profiler::SetEnabled(true);
}

void {{ RuntimeName }}::onRun(){
    Time::Start();
    Profiler::Reset();
    mTickRunner.run();
}

void {{ RuntimeName}}::onActiveBehaviourChanged(){
    mStateRegistry.getActiveBehaviour().setBehaviour(mActiveBehaviour->getBehaviourId());
}

void {{ RuntimeName}}::onActiveScreenChanged(){
    mStateRegistry.getActiveScreen().setScreen(mActiveScreen->getScreenId());
}

void {{ RuntimeName}}::handleTickStart(){
    Time::Tick();
    Profiler::MeasurePeriodic(ProfilerId::MainPeriod);
    Profiler::MeasureBegin(ProfilerId::MainBusy);
    applyQueuedBehaviour();
}

void {{ RuntimeName}}::handleTickEnd(){
    mContext.tickCount++;
    Profiler::MeasureEnd(ProfilerId::MainBusy);
}

{# ---- GENERATE tick_phases ---- #}
{% for tick in application.tick_phases %}
void {{ RuntimeName }}::handle{{ tick.name }}(){
    Profiler::MeasureScoped profiler(ProfilerId::{{ tick.name }});
{# ---- Call tick on controllers ---- #}
{% for ctrl in tick["controllers"].values() %}
{% if ctrl["tick_phases_all"] %}
    m{{ ctrl.name }}.onTick(TickPhase::{{ tick.name.removesuffix("Tick") }});
{% endif %}
{% if tick.name in ctrl["tick_phases"] %}
    m{{ ctrl.name }}.on{{ tick.name }}();
{% endif %}
{% endfor %}
{# ---- Call tick on active behaviour ----#}
{% if tick["behaviours"] | length > 0 %}
    switch(mActiveBehaviour->getBehaviourId()){
    {% for beha in tick["behaviours"].values() %}
        case BehaviourId::{{ beha.name.removesuffix("Behaviour") }}:
        {% if beha["tick_phases_all"] %}
            static_cast<{{ beha.name }}*>(mActiveBehaviour)->onTick(TickPhase::{{ tick.name.removesuffix("Tick") }});
        {% endif %}
        {% if tick.name in beha["tick_phases"] %}
            static_cast<{{ beha.name }}*>(mActiveBehaviour)->on{{ tick.name }}();
        {% endif %}
            break;
    {% endfor %}
        default: break; // active behaviour does not receive tick type
    }
{% endif %}
{# ---- Call tick on active screen ----#}
{% if tick["screens"] | length > 0 %}
    switch(mActiveScreen->getScreenId()){
    {% for screen in tick["screens"].values() %}
        case ScreenId::{{ screen.name.removesuffix("Screen") }}:
        {% if screen["tick_phases_all"] %}
            static_cast<{{ screen.name }}*>(mActiveScreen)->onTick(TickPhase::{{ tick.name.removesuffix("Tick") }});
        {% else %}
            static_cast<{{ screen.name }}*>(mActiveScreen)->on{{ tick.name }}();
        {% endif %}
        break;
    {% endfor %}
        default: break; // active behaviour does not receive tick type
    }
{% endif %}
    {# Call dispatch events #}
    dispatch();
}

{% endfor %}

void {{ RuntimeName }}::onRouteStateChanged(const StateAbs& state){
    
    switch(state.type()){
{% for state in states.values() %}
    {% if state["readers"]["components"] %}
    case StateType::{{ state["name"]}}: {
        {% set fn_call = "on" ~ state["name"]|upper_first ~ "StateChanged(" ~ state["name"]|lower_first ~ ")" %}
        const {{ state["name_with_suffix"]|upper_first }}& {{ state["name"]|lower_first }} = static_cast<const {{ state["name_with_suffix"]|upper_first }}&>(state);
        {% for ctrl_name, ctrl_data in state["readers"]["controllers"].items() %}
        m{{ ctrl_name }}.{{ fn_call }};
        {% endfor %}
        {% if state["readers"]["behaviours"] %}
        switch(mActiveBehaviour->getBehaviourId()){
            {% for beha in state["readers"]["behaviours"].keys() %}
            case BehaviourId::{{ beha.removesuffix("Behaviour") }}: static_cast<{{ beha }}*>(mActiveBehaviour)->{{ fn_call }}; break;
            {% endfor %}
            default: break; // active behaviour does not read state
        }
        {% endif %}
        {% if state["readers"]["screens"] %}
        switch(mActiveScreen->getScreenId()){
            {% for screen in readers["screens"]["screens"].keys() %}
            case ScreenId::{{ screen.removesuffix("Screen") }}: static_cast<{{ screen }}*>(mActiveScreen)->on{{ fn_call }}; break;
            {% endfor %}
            default: break; // active screen does not read state 
        }
        {% endif %}
        break;
    }
    {% else %}
    case StateType::{{ state["name"]}}: break;
    {% endif %}
{% endfor %}
    case StateType::Null:
    case StateType::Count:
        TriggerDebug("{{ RuntimeName }}", "invalid state type");
        break;
    }
}

void {{ RuntimeName }}::onRouteEvent(const EventHeader* header){

{% set ns = namespace(printed=0) %}
{% for component in components.values() %}
    {% if component["receive_events_all"]: %}
        {% if ns.printed == 0 %}
    // receive all events
        {% endif %}
    m{{ component.name }}.onEvent(header);
    {% set ns.printed = ns.printed + 1 %}
    {% endif %}
{% endfor %}

    // route event to components
    switch(header->type){
{# ---- Route events ---- #}
{% for event_name, routes in event_routes.items() %}
    case EventType::{{ event_name }}: {
    {% if routes["count"] > 0 or routes["event"]["kind"] == "snapshot" %}
        const {{ event_name }}Event event(header);
    {% endif %}
    {% if routes["event"]["kind"] == "snapshot" %}
        SnapshotRegistry::Update{{ event_name }}(*event.payload());
    {% endif %}
    {# send event to controllers supporting this event #}
    {% for ctrl in routes["controllers"] %}
        m{{ ctrl }}.on{{ event_name }}Event(event);
    {% endfor %}
    {# send event to active behaviour + screen (if  event supported) #}
    {% if routes["behaviours"] | length > 0 or routes["screens"] | length > 0 %}
        if(header->sendToInactiveComponents){
        {% if routes["behaviours"] | length > 0 or routes["screens"] %}
            {% for beha in routes["behaviours"] %}
            m{{ beha }}.on{{ event_name }}Event(event);
          {% endfor %}
            {% for screen in routes["screens"] %}
            m{{ screen }}.on{{ event_name }}Event(event);
            {% endfor %}
        {% else %}
            // no inactive receivers for '{{ event_name }}' event
        {% endif %}
        }
        else {
        {% if routes["behaviours"] | length > 0 %}
            switch(mActiveBehaviour->getBehaviourId()){
            {% for beha in routes["behaviours"] %}
                case BehaviourId::{{ beha.removesuffix("Behaviour") }}: static_cast<{{ beha }}*>(mActiveBehaviour)->on{{ event_name }}Event(event); break;
            {% endfor %}
                default: break; // active behaviour does not receive '{{ event_name }}' event
            }
        {% else %}
            // no active receivers for this event type
        {% endif %}
        {# call onEvent() handlers on active screen (if it supports this event) #}
        {% if routes["screens"] | length > 0 %}
            switch(mActiveScreen->getScreenId()){
            {% for screen_name in routes["screens"] %}
                case ScreenId::{{ screen_name.removesuffix("Screen") }}: static_cast<{{ screen_name }}*>(mActiveScreen)->on{{ event_name }}Event(event); break;
            {% endfor %}
                default: break; // active screen does not receive '{{ event_name }}' event
            }
        {% endif %}
        }
    {% endif %}
        {# call receiveEvent() handlers on active screen (if it supports this event) #}
    {% if routes["screens_with_fields"] | length > 0 %}
        switch(mActiveScreen->getScreenId()){
        {% for screen_name in routes["screens_with_fields"] %}
            case ScreenId::{{ screen_name.removesuffix("Screen") }}: {
                {{ screen_name }}::Model& model = static_cast<{{ screen_name }}*>(mActiveScreen)->model();
            {% for field in screens[screen_name]["model"]["events"][event_name].values() %}
                model.set{{ field.name|upper_first }}(event->{{ field.event_field }});
            {% endfor %}
                break;
            }
        {% endfor %}
            default: break; // active screen has no model binding to any field of '{{ event_name }}' event
        }
    {% endif %}
        break;
    }
{% endfor %}
    case EventType::Null:
    case EventType::Count:
        TriggerDebug("{{ RuntimeName }}", "invalid event type");
        break;
    }
}

BehaviourAbs* {{ RuntimeName }}::resolveBehaviour(BehaviourId id){
    switch(id){
{% for key in behaviours %}
        case BehaviourId::{{ key.removesuffix("Behaviour") }}: return &m{{ key }};
{% endfor %}
        default: TriggerExit("{{ RuntimeName }}", "behaviour with id not found", static_cast<uint32_t>(id));
    }
    return nullptr;
}

ControllerAbs* {{ RuntimeName }}::resolveController(ControllerId id){
    switch(id){
{% for key in controllers %}
        case ControllerId::{{ key.removesuffix("Controller") }}: return &m{{ key }};
{% endfor %}
        default: TriggerExit("{{ RuntimeName }}", "controller with id not found", static_cast<uint32_t>(id));
    }
    return nullptr;
}

ScreenAbs* {{ RuntimeName }}::resolveScreen(ScreenId id){
    switch(id){
{% for key in screens %}
        case ScreenId::{{ key.removesuffix("Screen") }}: return &m{{ key }};
{% endfor %}
        default: TriggerExit("{{ RuntimeName }}", "screen with id not found", static_cast<uint32_t>(id));
    }
    return nullptr;
}

} // namespace Garbox
