{% include "_common/header.j2" %}
#include "SnapshotRegistry.h"
#include "core/assert/Assert.h"

namespace Garbox {

SnapshotRegistry::SnapshotRegistry(){
    // nothing to do
}

SnapshotRegistry::~SnapshotRegistry(){
    // nothing to do
}

SnapshotRegistry& SnapshotRegistry::instance(){
    static SnapshotRegistry instance;
    return instance;    
}

{% for event_name in events.keys() %}
void SnapshotRegistry::Update{{ event_name }}(const {{ event_name }}Payload& payload){
    instance().m{{ event_name }}Payload = payload;
}

const {{ event_name }}Payload& SnapshotRegistry::Get{{ event_name }}(){
    return instance().m{{ event_name }}Payload;
}

{% endfor %}

} // namespace
