#pragma once
{% include "_common/header.j2" %}
{% from "_common/component_h.j2" import comp_includes, constructor %}
{% from "_common/component_h.j2" import on_ticks, on_events, on_states_changed %}
{% from "_common/component_h.j2" import make_events, send_events, hide_events %}
{% from "_common/component_h.j2" import states_protected, states_private %}

#include "core/application/controller/ControllerAbs.h"
{{ comp_includes(controller) }}

namespace Garbox {

class {{ runtime_name }};

class {{ name }}Abs : public ControllerAbs {
public:
{{ constructor(name) }}
{{ on_ticks(controller) }}
{{ on_events(controller) }}
{{ on_states_changed(controller) }}
protected:
{{ make_events(controller) }}
{{ send_events(controller) }}
{{ states_protected(controller) }}
private:
{{ states_private(controller) }}
{{ hide_events("Controller") }}

    friend class {{ runtime_name }};
};

} // namespace Garbox
