{% include "_common/header.j2" %}
{%- from "_common/component_cpp.j2" import constructor, receive_ticks, receive_events, make_events, send_events -%}
#include "{{ name }}Abs.h"
#include "shared/types/ComponentId.h"

namespace Garbox {

{{ constructor("Controller", name, controller) }}
{{ receive_ticks(name, controller) }}
{{ receive_events(name, controller) -}}
{{ make_events(name, controller) -}}
{{- send_events(name, controller) }} 
} // namespace Garbox
