#pragma once
{% include "_common/header.j2" %}
{%- from "_common/includes.j2" import emit_includes -%}
{%- from "_common/component_h.j2" import constructor, receive, receive_ticks, receive_events, make_events, send_events, hide_events -%}
#include "core/application/controller/ControllerAbs.h"
#include "shared/types/EventType.h"
{{- emit_includes(meta) -}}

namespace Garbox {

class {{ name }}Abs : public ControllerAbs {
public:
{{ constructor(name) -}}
{{- receive() }}
protected:
{{ receive_ticks(controller) -}}
{{- receive_events(controller) -}}
{{- make_events(controller) -}}
{{- send_events(controller) }}
private:
{{ hide_events("Controller") }}
};

} // namespace Garbox
