{# constructor #}
{% macro constructor(name) %}

    // component constructor
    {{ name }}Abs();

{% endmacro %}


{# receive ticks #}
{% macro on_ticks(component) %}

{% if component.tick_phases_all %}

    // tick handler (to be implmeneted by user)
    virtual void onTick(TickPhase phase) = 0;
    
{% endif %}
{% if component.tick_phases %}

    // tick handlers (to be implmeneted by user)
{% for tick in component.tick_phases %}
    virtual void on{{ tick }}() = 0;
{% endfor %}
{% endif %}
{% endmacro %}


{# receive events #}
{% macro on_events(component) %}
{% if component.receive_events_all %}

    // event handler (to be implmeneted by user)
    virtual void onEvent(const EventHeader* header) = 0;

{% endif %}
{% if component.receive_events %}

    // event handlers (to be implmeneted by user)
{% for ev in component.receive_events %}
    virtual void on{{ ev }}Event(const {{ ev }}Event& event) = 0;
{% endfor %}
{% endif %}
{% endmacro %}


{# state change #}
{% macro on_states_changed(component) %}
{% if component.read_states %}

    // state change handlers (to be implmeneted by user)
{% for state in component.read_states.values() %}
    virtual void on{{ state["name"]|upper_first }}StateChanged(const {{ state["name_with_suffix"] }}& state) = 0;
{% endfor %}
{% endif %}
{% endmacro %}


{# make events #}
{% macro make_events(component) %}
{% if component.send_events %}

    // make typed events 
{% for ev in component.send_events %}
    {{ ev }}Event make{{ ev }}Event();
{% endfor %}

{% endif %}
{% endmacro %}


{# send events #}
{% macro send_events(component) %}
{% if component.send_events %}

    // send typed events
{% for ev in component.send_events %}
    void sendEvent(const {{ ev }}Event& event);
{% endfor %}

{% endif %}
{% endmacro %}

{# states include #}
{% macro states_include(component) %}
{% if component.all_states %}
{% for state_name, state_data in component.all_states.items() %}
#include "app/states/types/{{ state_data["name_with_suffix"]|upper_first }}.h"
{% endfor %}
{% endif %}

{% endmacro %}

{# states protected #}
{% macro states_protected(component) %}

{% if component.write_states %}
    // get writable states
{% for state_name, state_data in component.write_states.items() %}
    {{ state_data["name_with_suffix"]|upper_first }}& write{{ state_name }}State();
{% endfor %}
{% endif %}

{% if component.read_states %}
    // get readable states
{% for state_name, state_data in component.read_states.items() %}
    const {{ state_data["name_with_suffix"]|upper_first }}& read{{ state_name }}State();
{% endfor %}
{% endif %}

{% endmacro %}

{# states private #}
{% macro states_private(component) %}

{% if component.write_states %}
    // writable state pointers
{% for state_name, state_data in component.write_states.items() %}
    {{ state_data["name_with_suffix"]|upper_first }}* m{{ state_data["name_with_suffix"]|upper_first }} = nullptr;
{% endfor %}
{% endif %}

{% if component.read_states %}
    // readable state pointers
{% for state_name, state_data in component.read_states.items() %}
    const {{ state_data["name_with_suffix"]|upper_first }}* m{{ state_data["name_with_suffix"]|upper_first }} = nullptr;
{% endfor %}
{% endif %}

{% if component.write_states %}
    // dependency inject writable states
{% for state_name, state_data in component.write_states.items() %}
    void inject{{ state_data["name_with_suffix"]|upper_first }}({{ state_data["name_with_suffix"]|upper_first }}* state);
{% endfor %}
{% endif %}

{% if component.read_states %}
    // dependency inject readable states
{% for state_name, state_data in component.read_states.items() %}
    void inject{{ state_data["name_with_suffix"]|upper_first }}(const {{ state_data["name_with_suffix"]|upper_first }}* state);
{% endfor %}
{% endif %}

{% endmacro %}

{# hide #}
{% macro hide_events(type) %}

    // hide event methods
    using {{ type }}Abs::makeEvent;
    using {{ type }}Abs::sendEventToHost;

{% endmacro %}
