{# component includes #}
{% macro comp_includes(component) %}
{% if component.read_states_all %}
#include "core/application/state/StateAbs.h"
{% endif %}
{% if component.all_states %}
#include "generated/{{ component.gendir }}/{{ component.name }}States.h"
{% endif %}
{% endmacro %}


{# constructor #}
{% macro constructor(name) %}

    // component constructor
    {{ name }}Abs();

{% endmacro %}


{# receive ticks #}
{% macro on_ticks(component) %}

{% if component.tick_phases_all %}

    // tick handler (to be implmeneted by user)
    virtual void onTick(TickPhase phase) = 0;
    
{% endif %}
{% if component.tick_phases %}

    // tick handlers (to be implmeneted by user)
{% for tick in component.tick_phases %}
    virtual void on{{ tick }}() = 0;
{% endfor %}
{% endif %}
{% endmacro %}


{# receive events #}
{% macro on_events(component) %}
{% if component.receive_events_all %}

    // event handler (to be implmeneted by user)
    virtual void onEvent(const EventHeader* header) = 0;

{% endif %}
{% if component.receive_events %}

    // event handlers (to be implmeneted by user)
{% for ev in component.receive_events %}
    virtual void on{{ ev }}Event(const {{ ev }}Event& event) = 0;
{% endfor %}
{% endif %}
{% endmacro %}


{# state change #}
{% macro on_states_changed(component) %}
{% if component.read_states_all %}

    // any state changed handler
    virtual void onStateChanged(const StateAbs& state) = 0;

{% endif %}
{% if component.read_states %}

    // state change handlers (to be implmeneted by user)
{% for state in component.read_states.values() %}
    virtual void on{{ state["name"]|upper_first }}StateChanged(const {{ state["name_with_suffix"] }}& state) = 0;
{% endfor %}
{% endif %}
{% endmacro %}


{# make events #}
{% macro make_events(component) %}
{% if component.send_events %}

    // make typed events 
{% for ev in component.send_events %}
    {{ ev }}Event make{{ ev }}Event();
{% endfor %}

{% endif %}
{% endmacro %}


{# send events #}
{% macro send_events(component) %}
{% if component.send_events %}

    // send typed events
{% for ev in component.send_events %}
    void sendEvent(const {{ ev }}Event& event);
{% endfor %}

{% endif %}
{% endmacro %}


{# states protected #}
{% macro states_protected(component) %}
{% if component.all_states %}

    {{ component.name }}States& states();

{% endif %}
{% endmacro %}


{# states private #}
{% macro states_private(component) %}
{% if component.all_states %}

    std::optional<{{ component.name }}States> mStates;

{% endif %}
{% endmacro %}


{# hide #}
{% macro hide_events(type) %}

    // hide event methods
    using {{ type }}Abs::makeEvent;
    using {{ type }}Abs::sendEventToHost;

{% endmacro %}
