{# constructor #}
{% macro constructor(component) %}

    {{ component.name }}();

{% endmacro %}


{# receive ticks #}
{% macro on_ticks(component) %}
{% if component.tick_phases_all %}

    // tick handler
    void onTick(TickPhase phase) final;

{% endif %}
{% if component.tick_phases %}

    // tick handlers
{% for tick in component.tick_phases %}
    void on{{ tick }}() final;
{% endfor %}

{% endif %}
{% endmacro %}


{# receive events #}
{% macro on_events(component) %}
{% if component.receive_events_all %}

    // event handler
    void onEvent(const EventHeader* header) final;

{% endif %}
{% if component.receive_events %}

    // event handlers
{% for ev in component.receive_events %}
    void on{{ ev }}Event(const {{ ev }}Event& event) final;
{% endfor %}

{% endif %}
{% endmacro %}


{# receive state changed #}
{% macro on_states_changed(component) %}
{% if component.read_states_all %}

    // any state changed handler (to be implmeneted by user)
    void onStateChanged(const StateAbs& state) final;

{% endif %}
{% if component.read_states %}

    // state changed handlers
{% for state in component.read_states.values() %}
    void on{{ state["name"]|upper_first }}StateChanged(const {{ state["name_with_suffix"]|upper_first }}& state) final;
{% endfor %}

{% endif %}
{% endmacro %}