{# constructor #}
{% macro constructor(name) %}

    // component constructor
    {{ name }}Abs();

{% endmacro %}


{# receive ticks #}
{% macro on_ticks(component) %}

{% if component.tick_phases_all %}

    // tick handler (to be implmeneted by user)
    virtual void onTick(TickPhase phase) {};
    
{% endif %}
{% if component.tick_phases %}

    // tick handlers (to be implmeneted by user)
{% for tick in component.tick_phases %}
    virtual void on{{ tick }}() {};
{% endfor %}
{% endif %}
{% endmacro %}


{# receive events #}
{% macro on_events(component) %}
{% if component.receive_events_all %}

    // event handler (to be implmeneted by user)
    virtual void onEvent(const EventHeader* header) {};

{% endif %}
{% if component.receive_events %}

    // event handlers (to be implmeneted by user)
{% for ev in component.receive_events %}
    virtual void on{{ ev }}Event(const {{ ev }}Event& event) {};
{% endfor %}
{% endif %}
{% endmacro %}


{# state change #}
{% macro on_states_changed(component) %}
{% if component.read_states %}

    // state change handlers (to be implmeneted by user)
{% for state in component.read_states.values() %}
    virtual void on{{ state["name"]|upper_first }}StateChanged(const {{ state["name_with_suffix"] }}& state) {};
{% endfor %}
{% endif %}
{% endmacro %}


{# make events #}
{% macro make_events(component) %}
{% if component.send_events %}

    // make typed events 
{% for ev in component.send_events %}
    {{ ev }}Event make{{ ev }}Event();
{% endfor %}

{% endif %}
{% endmacro %}


{# send events #}
{% macro send_events(component) %}
{% if component.send_events %}

    // send typed events
{% for ev in component.send_events %}
    void sendEvent(const {{ ev }}Event& event);
{% endfor %}

{% endif %}
{% endmacro %}

{# states include #}
{% macro states_include(component) %}
{% if component.all_states %}
{% for state_name, state_data in component.all_states.items() %}
#include "generated/states/types/{{ state_data["name_with_suffix"]|upper_first }}.h"
{% endfor %}
{% endif %}

{% endmacro %}

{# states protected #}
{% macro states_protected(component) %}

{% if component.all_states %}

    // state access struct
    class States final {
    public:

        States(
        {% for state_name, state_data in component.write_states.items() %}
            {% set delim = "" if loop.last and not component.read_states else ","%}
            {{ state_data["name_with_suffix"]|upper_first }}& {{ state_data["name_with_suffix"]|lower_first }}{{ delim }} // write
        {% endfor %}
        {% for state_name, state_data in component.read_states.items() %}
            {% set delim = "" if loop.last else ","%}
            const {{ state_data["name_with_suffix"]|upper_first }}& {{ state_data["name_with_suffix"]|lower_first }}{{ delim }} // read
        {% endfor %}
        ):
        {% for state_name, state_data in component.write_states.items() %}
            {% set delim = "{" if loop.last and not component.read_states else ","%}
            {{ state_data["name"]|lower_first }}({{ state_data["name_with_suffix"]|lower_first }}){{ delim }}
        {% endfor %}
        {% for state_name, state_data in component.read_states.items() %}
            {% set delim = "{" if loop.last else ","%}
            {{ state_data["name"]|lower_first }}({{ state_data["name_with_suffix"]|lower_first }}){{ delim }}
        {% endfor %}
        }


        // disallow copy and move
        States(const States&) = delete;
        States& operator=(const States&) = delete;
        States(States&&) = delete;
        States& operator=(States&&) = delete;

    {% if component.write_states %}
        // writable states
    {% for state_name, state_data in component.write_states.items() %}
        {{ state_data["name_with_suffix"]|upper_first }}& {{ state_name|lower_first }};
    {% endfor %}
    {% endif %}

    {% if component.read_states %}
        // readable states
    {% for state_name, state_data in component.read_states.items() %}
        const {{ state_data["name_with_suffix"]|upper_first }}& {{ state_name|lower_first }};
    {% endfor %}
    {% endif %}
    };

    States& states();

{% endif %}

{% endmacro %}

{# states private #}
{% macro states_private(component) %}

{% if component.all_states %}
    std::optional<States> mStates;

    void bindStates(
    {% for state_name, state_data in component.write_states.items() %}
        {% set delim = "" if loop.last and not component.read_states else ","%}
        {{ state_data["name_with_suffix"]|upper_first }}& {{ state_data["name"]|lower_first }}{{ delim }}
    {% endfor %}
    {% for state_name, state_data in component.read_states.items() %}
        {% set delim = "" if loop.last else ","%}
        const {{ state_data["name_with_suffix"]|upper_first }}& {{ state_data["name"]|lower_first }}{{ delim }}
    {% endfor %}
    );
{% endif %}
{% endmacro %}

{# hide #}
{% macro hide_events(type) %}

    // hide event methods
    using {{ type }}Abs::makeEvent;
    using {{ type }}Abs::sendEventToHost;

{% endmacro %}
