{# receive ticks #}
{% macro on_ticks(component) %}
{% if component.tick_phases_all %}

void {{ component.name }}::onTick(TickPhase phase){
    // nothing to do
}

{% endif %}
{% if component.tick_phases %}
{% for tick in component.tick_phases %}

void {{ component.name }}::on{{ tick }}(){
    // nothing to do
}

{% endfor %}
{% endif %}
{% endmacro %}


{# receive events #}
{% macro on_events(component) %}
{% if component.receive_events_all %}

void {{ component.name }}::onEvent(const EventHeader* header){
    // nothing to do
}

{% endif %}
{% if component.receive_events %}
{% for ev in component.receive_events %}

void {{ component.name }}::on{{ ev }}Event(const {{ ev }}Event& event){
    // nothing to do
}

{% endfor %}
{% endif %}
{% endmacro %}


{# receive state changed #}
{% macro on_states_changed(component) %}
{% if component.read_states_all %}

void {{ component.name }}::onStateChanged(const StateAbs& state){
    // nothing to do
}

{% endif %}

{% if component.read_states %}
    // state changed handlers
{% for state in component.read_states.values() %}
void {{ component.name }}::on{{ state["name"]|upper_first }}StateChanged(const {{ state["name_with_suffix"]|upper_first }}& state){
    // nothing to do
}

{% endfor %}

{% endif %}
{% endmacro %}