{# constructor #}
{% macro constructor(type, name, component) %}
{{ name }}Abs::{{ name }}Abs() : {{ type }}Abs(ComponentId::{{ name }}, {{ type }}Id::{{ name.removesuffix(type) }}){
    // nothing to do
}
{% endmacro %}


{# make events #}
{% macro make_events(name, component) %}
{% if component.send_events %}
{% for ev in component.send_events %}
{{ ev }}Event {{ name }}Abs::make{{ ev }}Event(){
    return ComponentAbs::makeEvent<EventType::{{ ev }}>();
}

{% endfor %}
{% endif %}
{% endmacro %}


{# send events #}
{% macro send_events(name, component) %}
{% if component.send_events %}
{% for ev in component.send_events %}
void {{ name }}Abs::sendEvent(const {{ ev }}Event& event){
    sendEventToHost(event.header());
}

{% endfor %}
{% endif %}
{% endmacro %}

{# states #}
{% macro states(name, component) %}

{% if component.write_states %}
{% for state_name, state_data in component.write_states.items() %}
{{ state_data["name_with_suffix"]|upper_first }}& {{ name }}Abs::write{{ state_name }}State(){
    return *m{{ state_data["name_with_suffix"]|upper_first }};
}

{% endfor %}
{% endif %}

{% if component.read_states %}
{% for state_name, state_data in component.read_states.items() %}
const {{ state_data["name_with_suffix"]|upper_first }}& {{ name }}Abs::read{{ state_name }}State(){
    return *m{{ state_data["name_with_suffix"]|upper_first }};
}

{% endfor %}
{% endif %}

{% if component.write_states %}
{% for state_name, state_data in component.write_states.items() %}
void {{ name }}Abs::inject{{ state_data["name_with_suffix"]|upper_first }}({{ state_data["name_with_suffix"]|upper_first }}* state){
    m{{ state_data["name_with_suffix"]|upper_first }} = state;
}

{% endfor %}
{% endif %}

{% if component.read_states %}
{% for state_name, state_data in component.read_states.items() %}
void {{ name }}Abs::inject{{ state_data["name_with_suffix"]|upper_first }}(const {{ state_data["name_with_suffix"]|upper_first }}* state){
    m{{ state_data["name_with_suffix"]|upper_first }} = state;
}

{% endfor %}
{% endif %}

{% endmacro %}
