{# emit_includes #}
{% macro emit_includes(arg) %}
    {% if arg is string %}
#include "{{ arg }}"
    {% else %}
        {% for path in arg %}
#include "{{ path }}"
        {% endfor %}
    {% endif %}
{% endmacro %}

{# include_dict #}
{% macro include_dict(includes, key) %}
    {% if data_dict is defined and key in data_dict %}
        {{ emit_includes(data_dict[key]) }}
    {% endif %}
{% endmacro %}

{# include_h #}
{% macro include_h(data) %}
    {{ include_dict(data, "include_h") }}
{% endmacro %}

{# include_cpp #}
{% macro include_cpp(data) %}
    {{ include_dict(data, "include_cpp") }}
{% endmacro %}