{# include_h #}
{% macro include_h(data_dict) %}
    {% if data_dict is defined and "include_h" in data_dict %}
        {% if value is string %}
#include "{{ data_dict["include_h"] }}"
        {% else %}
            {% for path in data_dict["include_h"] %}
#include "{{ path }}"
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}

{# include_cpp #}
{% macro include_cpp(data_dict) %}
    {% if data_dict is defined and "include_cpp" in data_dict %}
        {% if value is string %}
#include "{{ data_dict["include_cpp"] }}"
        {% else %}
            {% for path in data_dict["include_cpp"] %}
#include "{{ path }}"
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}
